body{
    background-color: black ;
    background-image: url("resources/gifdubledore.gif");
    background-position: bottom;
    background-repeat: repeat-x;
}

#explicacion\ 2 {
    font-family: "Book Antiqua";
    font-size: 20px;
    text-align: center;
    color: beige;
    margin-top: 210px;
}

a:link, a:visited{
    color: white;
}
a:hover{
    font-size: 17 px;
}
a:active {
    font-weight: bold;
}
