body {
    background-color: #2e5252;
    background-image: url("resources/fondohogwarts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}
#bienvenidos{
    text-align: center;
    font-family: "Colonna MT";
    font-size: 40px;
}
#Pregunta{
    margin-top: 100px;
    text-align: center;
    font-family: "Colonna MT";
    font-size: 25px;

}
a:link, a:visited{
    color: aliceblue;
}
a:hover{
    font-size: 17 px;
}
a:active {
    font-weight: bold;
}

