body{
    background-color: black ;
    background-image: url("resources/gifdubledore.gif");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;

}
#explicacion{
    font-family: Calibri;
    font-size: 20px;
    text-align: left;
    color: beige;
}
#explicacion\ 2 {
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: beige;
}
